<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="ArcadeTongame_editorEditorAdvisorApplication">
      <application>
         <run class="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisor$Perspective"
            id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_ArcadeTongame_editorEditorAdvisor_ActionSet_label"
            visible="true"
            id="ArcadeTongame_editorEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenURICommand"
               class="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenCommand"
               class="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_ArcadeTongame_editorModelWizard_ActionSet_label"
            visible="true"
            id="ArcadeTongame_editor.presentation.ArcadeTongame_editorActionBarContributorActionSet">
         <action
               label="%_UI_ArcadeTongame_editorModelWizard_label"
               class="ArcadeTongame_editor.presentation.ArcadeTongame_editorActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="ArcadeTongame_editor.presentation.ArcadeTongame_editorActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditorID"
            name="%_UI_ArcadeTongame_editorEditor_label"
            icon="icons/full/obj16/ArcadeTongame_editorModelFile.gif"
            extensions="arcadetongame_editor"
            class="ArcadeTongame_editor.presentation.ArcadeTongame_editorEditor"
            contributorClass="ArcadeTongame_editor.presentation.ArcadeTongame_editorActionBarContributor">
      </editor>
   </extension>

</plugin>
